<!DOCTYPE html>
<html lang="en" ng-app="forum">
<head>
    <meta charset="UTF-8">
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/fora.css"/>
    <title>Forum</title>

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <script type= text/javascript src="materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>
    <script type="text/javascript" src="../javascripts/mock-data.js"></script>
    <script type="text/javascript" src="forum.js"></script>

    <style>
        .like{
            color : green;
        }
        .dislike{
             color: red;
        }

    </style>

</head>
<body ng-controller="AppCtrl">

<h2> Utilisateurs : </h2>
<ul class="collection">
    <li class= "collection-item" ng-repeat="user in users">{{user.id}}: {{user.name}}, {{user.email}}</li>

</ul>

<h2> Titres : </h2>

<ul>
    <li ng-repeat="topic in topics">{{topic.title}}
        <ul>
            <li ng-repeat="comment in topic.comments" ng-if="comment.user.name != NULL"> {{comment.user.name}} says : {{comment.content}} </li>
            <li ng-repeat="comment in topic.comments" ng-if="comment.user.name == NULL"> Anonymous says : {{comment.content}} </li>
        </ul>
    </li>
</ul>
    
<form >
    <select ng-model="model.selectedTopic" ng-options="item.title for item in topics"> </select>

    <h2> Comments from {{model.selectedTopic.title}}</h2>
        <p ng-repeat="comment in model.selectedTopic.comments"> {{comment.user.name}} : {{comment.content}}</p>


    <form>
        <select ng-model="commentModel.user"
                ng-options="item.name for item in users"></select>

        <p> user chosen : {{model.user.name}}</p>


        <textarea ng-model="commentModel.content" required></textarea>
        <button ng-click="createComment(commentModel)"> Envoyer </button>

    </form>




</form>
    


</body>


</html>